body {
  margin: 0;
  font-family: 'Comfortaa',
    cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: none;

}

#logo {
  font-family: 'Satisfy',
    cursive;

  font-size: xx-large;
}

.nav-link {
  margin-left: 40px;
  cursor: pointer;
  color: white !important;
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid rgb(72, 72, 117);
  width: 50%;
  margin: auto;
  margin-bottom: -6px;
}

.jumbotron {
  background: url(./jumbo.jpg);
  background-size: cover;
  color: white;
  height: 640px;
  position: relative;

}

#text-jumbo {
  align-content: center;
  padding: 3px 3px 3px 3px;
  margin-top: 100px;

  text-shadow: 1px 1px 1px;
  font-family: 'Comfortaa',
    cursive;
}

#text-jumbo h1 {
  font-family: 'Satisfy',
    cursive;
}

.image-jumbo {
  z-index: 1;
  position: relative;
}

.about {
  height: 400px;
  background-color: rgb(214, 213, 213);
  margin-top: -58px;
  padding-top: 100px;
}


.about h3 {
  text-align: left;
}

.about p {
  text-align: justify;
}




.btn-primary {
  background-color: rgb(72, 72, 117) !important;
  border-radius: 40px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 992px) {

  .navbar {
    background-color: rgb(72, 72, 117);
  }

  #logo {
    font-family: 'Satisfy',
      cursive;
    color: white(13, 0, 255, 0.815);
    font-size: xx-large;
  }

  .nav-link {
    cursor: pointer;
    color: white !important;
    margin-top: 12px;
    text-shadow: 1px 1px 1px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid rgb(72, 72, 117);
    width: 50%;
    margin: auto;
    margin-bottom: -6px;
  }

  .jumbotron {
    background: url(./jumbo.jpg);
    background-size: cover;
  }

  #text-jumbo {

    color: white;
    text-shadow: 1px 1px 1px;
    text-align: center;
    margin: 265px 20px 0 20px;

    height: 340px;

  }

  .btn-primary {
    background-color: rgb(72, 72, 117) !important;
    border-radius: 40px !important;
  }
}