body {
  margin: 0;
  font-family: 'Comfortaa',
    cursive !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.navbar {
  background-color: none;

}

#logo {
  font-family: 'Satisfy',
    cursive;
  color: rgb(226, 226, 26) !important;
  font-size: xx-large;
}

.nav-link {
  margin-left: 40px;
  cursor: pointer;
  color: rgb(226, 226, 26) !important;
  text-shadow: 1px 1px 1px;
}

.nav-link:hover::after {
  content: '';
  display: block;
  border-bottom: 3px solid #446682;
  width: 50%;
  margin: auto;
  margin-bottom: -6px;

}

.jumbotron {
  background: url(./atas.png);
  background-size: cover;
  color: white;
  height: 600px;
  position: relative;

}

#text-jumbo {
  align-content: center;
  padding: 3px 3px 3px 3px;
  margin-top: 100px;

  text-shadow: 1px 1px 1px;
  font-family: 'Comfortaa',
    cursive;
}

#text-jumbo h1 {
  font-family: 'Satisfy',
    cursive;
}


.about {
  height: 500px;
  background-color: white;
  margin-top: -58px;
  padding-top: 100px;
  position: relative;
}


.about h3 {
  text-align: left;
}

.about p {
  text-align: justify;
}


.experience {
  margin-top: 20px;
  height: 500px;
  display: inline-flex;
  margin-left: -20px;
}

.img-card {
  height: 250px;
  width: 200px;
}

.portfolio {
  padding-top: 50px;
  background-image: url(./tengah.png);
  background-size: cover;
  height: 700px;
}

.contact {
  background-image: url(./bawah.png);
  background-size: cover;
  height: auto;
  padding-top: 20px;
}

.contact-2 {
  display: flex;
}

.garis_verikal {
  border-left: 1px black solid;
  height: 70px;
  width: 0px;
}


.btn-primary {
  background-color: #446682 !important;
  border-radius: 40px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 992px) {
  body {
    width: 100%;
  }

  .navbar {
    background-color: #446682;
    position: fixed;
  }

  #logo {
    font-family: 'Satisfy',
      cursive;
    color: white(13, 0, 255, 0.815);
    font-size: xx-large;
  }

  .nav-link {
    cursor: pointer;
    color: white !important;
    margin-top: 12px;
    text-shadow: 1px 1px 1px;
  }

  .nav-link:hover::after {
    content: '';
    display: block;
    border-bottom: 3px solid #446682;
    width: 50%;
    margin: auto;
    margin-bottom: -6px;
  }

  .jumbotron {
    background: url(./mobile.png);
    background-size: cover;
  }

  #text-jumbo {

    color: white;
    text-shadow: 1px 1px 1px;
    text-align: center;
    margin: 265px 20px 0 20px;

    height: 340px;

  }

  .about {
    height: 700px;
    background-color: white;
    padding-top: 50px;
  }

  .img {

    height: 350px;
  }

  .experience {
    margin-top: 20px;
    margin-bottom: -100px;
    display: flex;
  }


  .card {
    margin-bottom: 70px;
  }

  .btn-primary {
    background-color: #446682 !important;
    border-radius: 40px !important;
  }
}